doctype 5
html
 head
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  script(src='http://code.jquery.com/ui/1.10.1/jquery-ui.js')
  link( rel='stylesheet', href='/css/about.css' )
  link(rel='stylesheet', href='/css/JQueryUI/css/trontastic/jquery-ui-1.10.1.custom.css')
 body
  div#_description
   p Eric Adamski - Computer Science Major Carleton University 

     <br>Blaine Thompson - Computer Science Major Carleton Univeristy
     <br>Brandon Bortolin- Computer Science Major Carleton Univeristy
     <br>Purpose of Webpage:
     <br>Share conversation, images, and files with other users of the webpage.  Can be used for meetings, parties, casual chatting, or demonstration purposes.
     <br>
     <br>Contact us:

     <br>frozen.narwhal@gmail.com
     <br>@FrozenNor on twitter
     <br>like us on Facebook at Outstanding Frozen Fish
     <br>
     <br>Address:
     <br>123 Fake Street
     <br>Box# 999 Apt# 3213
     <br>Canada, Ontario

