body
 background-color: #3A3F3F
 background-image: url('/images/aboutusBackground.jpg')
 background-repeat: no-repeat
 background-attachment: fixed
 background-position: center 

div#_description
 text-align: center
 color: white
 position: relative
 top: 400px
 left: 450px
 border: 10px solid white
 border-width: 3px
 width: 50%