body
 background-color: #3A3F3F
 background-image: url('/images/tele.jpg')
 background-repeat: no-repeat
 background-attachment: fixed
 background-position: center 
 background-size: cover

label
 font: arial black
 color: white
 font-weight: 20px
 font-size: 20px

h1
 color: white

h#_hello
 font: arial black
 color: #FFF0E0
 font-size: 80px
 font-weight: bold
 position: relative
 top: 400px
 left: 620px

h#_welcome
 font: BOOKMAN OLD STYLE
 color: #E0FFFF
 font-size: 77px
 font-weight: bold italic
 position: relative
 top: 365px
 left: 640px

h#_madeBy
 font-size: 10px
 position: relative
 top: 420px
 left: 720px
 color: #E0FFFF

h#_mainHeader 
 color: white
 font-weight: bold
 font-size: 50px

h#_mainHeader2
 color: #E0FFFF
 font-weight: bold
 font-size: 50px

h#_line
 color: white
 position: relative
 top: 410px
 left: 440px
 border: 1px
 border-color: solid white

button
 float: right
 margin: 1%
 width: 7%

input
 margin: 10px

div#_signUp
 float: center
 text-align: center

input#_guestButton
 float: right
 margin: 1%
 width: 7%

input#_submitSignInLink
 float: right
 margin: 1%
 width: 7%

input#_aboutUs
 float: right
 margin: 1%
 width: 7%

div#_signInDiv
 text-align: center
 float: center